@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  background-color: #EFF5FF;
  font-family: 'Ubuntu', sans-serif;
}

